<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Krishi Mitra</title>

    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link rel="icon" href="/static/assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="/static/assets/js/plugin/webfont/webfont.min.js"></script>
   
    <!-- CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/css/atlantis.min.css" />
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet"> 
    
    
  </head>
  <body>        

    <div class="wrapper">
      {% include 'includes/navigation.html' %} 
      {% include'includes/sidebar1.html' %}

      <div class="main-panel"> 
        
        
        
      </div>

    {% include 'includes/scripts.html' %}
    <script>
     
    </script>
  </body>
</html>


<!-- commit 1be640f872641cab0285391ac2b8dc4438175cdc
Author: Kalyani Kolte <87369826+krsnoki@users.noreply.github.com>
Date:   Wed Dec 20 06:04:58 2023 +0530

    Delete apps/home directory
    
    unnecessary route and home folder deleted

diff --git a/apps/home/__init__.py b/apps/home/__init__.py
deleted file mode 100644
index dec76db..0000000
--- a/apps/home/__init__.py
+++ /dev/null
@@ -1,12 +0,0 @@
-# -*- encoding: utf-8 -*-
-"""
-Copyright (c) 2019 - present AppSeed.us
-"""
-
-from flask import Blueprint
-
-blueprint = Blueprint(
-    'home_blueprint',
-    __name__,
-    url_prefix=''
-)
diff --git a/apps/home/routes.py b/apps/home/routes.py
deleted file mode 100644
index c1f3e8d..0000000
--- a/apps/home/routes.py
+++ /dev/null
@@ -1,106 +0,0 @@
-
-from apps.home import blueprint
-from flask import render_template, request, jsonify
-from flask_login import login_required
-from jinja2 import TemplateNotFound
-
: -->