<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Krishi Mitra</title>

    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link rel="icon" href="/static/assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="/static/assets/js/plugin/webfont/webfont.min.js"></script>
   
    <!-- CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/css/atlantis.min.css" />
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet"> 

    <style>
        
.video-box {
    text-align: start;
    margin-top: 80px;
    margin-left: 3rem;
    width: 100%;
}

.video-box iframe {
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: left;
}

@media (max-width: 720px) {
    .video-box iframe {
        width: 100%;
    }
}
 </style>
    
    
  </head>
  <body>        

    <div class="wrapper">
      {% include 'includes/navigation.html' %} 
      {% include'includes/sidebar1.html' %}
           <div class="main-panel"> 
            <div style="margin: 4rem 0rem 2rem 3.5rem; height: 4rem; padding: 2.8rem;"><h1 style="font-weight: bold; font: 'Lato'; font-size: 4em;">Krishi TV</h1></div>


        <div class="row">
            <div class="col-md-6">
                <div class="video-box">
                    <iframe width="85%" height="415" src="https://www.youtube.com/embed/_tijHjup-gM?si=EIZboLNP2yEKVEta" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 style="margin-top: 50px; font-weight: bold;">Krishi Mitra</h3>
                    <p style="margin-top: 20px;">Krishi Mitra is a platform that connects farmers with the experts and the dealers. It is a one stop solution for all the problems faced by the farmers. It provides the farmers with the latest news and updates in the field of agriculture. It also provides the farmers with the latest weather updates and the market prices of the crops. It also provides the farmers with the latest news and updates in the field of agriculture. It also provides the farmers with the latest weather updates and the market prices of the crops.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-box">
                    <iframe width="80%" height="415" src="https://www.youtube.com/embed/_tijHjup-gM?si=EIZboLNP2yEKVEta" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 style="margin-top: 50px; font-weight: bold;">Krishi Mitra</h3>
                    <p style="margin-top: 20px;">Krishi Mitra is a platform that connects farmers with the experts and the dealers. It is a one stop solution for all the problems faced by the farmers. It provides the farmers with the latest news and updates in the field of agriculture. It also provides the farmers with the latest weather updates and the market prices of the crops. It also provides the farmers with the latest news and updates in the field of agriculture. It also provides the farmers with the latest weather updates and the market prices of the crops.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="video-box">
                    <iframe width="85%" height="415" src="https://www.youtube.com/embed/_tijHjup-gM?si=EIZboLNP2yEKVEta" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 style="margin-top: 50px; font-weight: bold;">Krishi Mitra</h3>
                    <p style="margin-top: 20px;">Krishi Mitra is a platform that connects farmers with the experts and the dealers. It is a one stop solution for all the problems faced by the farmers. It provides the farmers with the latest news and updates in the field of agriculture. It also provides the farmers with the latest weather updates and the market prices of the crops. It also provides the farmers with the latest news and updates in the field of agriculture. It also provides the farmers with the latest weather updates and the market prices of the crops.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-box">
                    <iframe width="80%" height="415" src="https://www.youtube.com/embed/_tijHjup-gM?si=EIZboLNP2yEKVEta" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 style="margin-top: 50px; font-weight: bold;">Krishi Mitra</h3>
                    <p style="margin-top: 20px;">Krishi Mitra is a platform that connects farmers with the experts and the dealers. It is a one stop solution for all the problems faced by the farmers. It provides the farmers with the latest news and updates in the field of agriculture. It also provides the farmers with the latest weather updates and the market prices of the crops. It also provides the farmers with the latest news and updates in the field of agriculture. It also provides the farmers with the latest weather updates and the market prices of the crops.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="video-box">
                    <iframe width="85%" height="415" src="https://www.youtube.com/embed/_tijHjup-gM?si=EIZboLNP2yEKVEta" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 style="margin-top: 50px; font-weight: bold;">Krishi Mitra</h3>
                    <p style="margin-top: 20px;">Krishi Mitra is a platform that connects farmers with the experts and the dealers. It is a one stop solution for all the problems faced by the farmers. It provides the farmers with the latest news and updates in the field of agriculture. It also provides the farmers with the latest weather updates and the market prices of the crops. It also provides the farmers with the latest news and updates in the field of agriculture. It also provides the farmers with the latest weather updates and the market prices of the crops.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-box">
                    <iframe width="80%" height="415" src="https://www.youtube.com/embed/_tijHjup-gM?si=EIZboLNP2yEKVEta" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h3 style="margin-top: 50px; font-weight: bold;">Krishi Mitra</h3>
                    <p style="margin-top: 20px;">Krishi Mitra is a platform that connects farmers with the experts and the dealers. It is a one stop solution for all the problems faced by the farmers. It provides the farmers with the latest news and updates in the field of agriculture. It also provides the farmers with the latest weather updates and the market prices of the crops. It also provides the farmers with the latest news and updates in the field of agriculture. It also provides the farmers with the latest weather updates and the market prices of the crops.</p>
                </div>
            </div>
        </div>
        
        
      </div>

    {% include 'includes/scripts.html' %}
    <script>
     
    </script>
  </body>
</html>
